body{
    background-color: black;
    color: white;
}

.leftChat{
    display : flex;
    justify-content : flex-start;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.leftChat .profile_img{
    height: 50px;
    width  : 50px;
    border-radius: 50%;
}

.chatRight {
    display : flex;
    justify-content : flex-start;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.chatRight .profile_img {
    height: 80px;
    width  : 80px;
    border-radius: 50%;
}

.chat_right , .chat_left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chat_design{
    border-radius: 15px;
    font-size: 14px;
    padding: 10px 15px;
    background-color: #006ca5;
}

.send_input{
    background-color: rgba(0, 0, 0, 0.226);
    color: white;
    width: 50vw;
}


.chat_left{
    justify-content: flex-start;
}
